{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'solarpv/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'solarpv/pageScript.js' %}"></script>    
    {% block title %}<title>Welcome to SolarPV</title>{% endblock %}
</head>
<body>
    <div class="wrapper">
        {% block head %} 
        <div class="head">
            <div class='hpanel'>
                <div class="hgrid">
                    <div><a href="{% url 'index' %}"><img src="{% static 'solarpv/Logo.gif' %}" style="height: 90px;" alt="Company Logo"></a></div>
                    <div class="rpanel">
                        <div class="navlinks links"><a href="./aboutus.html">About Us</a> | <a href="./contactus.html">Contact Us</a></div>
                        <div class="navlinks social" style="bottom: 0;"><img style="height: 75px;" src="{% static 'solarpv/socialmedia.gif' %}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="marqbar">
            <marquee behavior="scroll" direction="left">Racks & Trackers * PV Module * PV Systems * Data Analytics * Cybersecurity</marquee>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="titleRow">
                <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a></tr>
                
            </div>
            <div class="titleCat">PV Module</div>
            <ul>
                <a href="{% url 'certificate' %}"><li>Testing & Certification</li></a>
                <li>PV Rating</li>
            </ul>
            <div class="titleCat">PV System Performance</div>
            <ul>
                <li>Monitoring & Inspection</li>
                <li>Performance Analysis</li>
                <li>Compare System</li>
                <li>Certification</li>
            </ul>
            <div class="titleCat">Data Analytics</div>
            <ul>
                <li>Module lifetime prediction</li>
                <li>Energy Prediction</li>
            </ul>
            <div class="titleCat">Cybersecurity and Smart Grid Technologies</div>
            <div class="titleCat">Solar PV University</div>
        </div>           
        
        {% block main %}
        <div class="main">
            Feature Contents
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Zu6oly462_w?&showinfo=0&controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" autoplay></iframe>
        </div>
        {% endblock %}

        <div class="newsbar" id="newsbar">
            <div class="titleRow">News & Events</div>
            <div class="text-center">PhotoVoltaic Technical Conference to take place in Marseille, France from 26 to 28 April 2017</div>
            <div class="text-center">Trump is next US president</div>
            <div class="text-center">Syrian forces recapture Aleppo</div>
            <div class="text-center">Senate votes on SCOTUS nominee</div>
        </div>
        <div class="foot">
            <div class="fpanel" id="foot">
                <div class="fgrid">
                    <div>
                        <div>SolarPV</div>
                        <div>1234 Hot Drive, Suntown, NJ 98367, (888) 243-2392, www.spvrd.com</div>            
                    </div>
                    <div>            
                        <div><br>@2019 All Rights Reserved</div>
                    </div>
                </div>
                <div class="text-center">Site Map | Terms & Conditions | Privacy Policy | About Us</div>
            </div>
        </div>
    </div>    
</body>
</html>