{% extends 'solarpv/index.html' %}
{% block title %}<title>Login!</title>{% endblock %}
{% block main %}
<div class="main">
    <form action="{% url 'loginformadd' %}" method="post" role="form">
        {% csrf_token %}
        <h3 class="text-center">User Login</h3>
        <table class="m-auto">
            <tr>{{ login_form }}</tr>
            {% for user_item in user_list %}
            <tr>{{user_item.username}}</tr>
            {% endfor %}
            <!-- <tr><td>Username</td><td><input name="uName" type="text" placeholder="required"></td></tr>
            <tr><td>Password</td><td><input name="uPass" type="password" placeholder="required"></td></tr> -->
        </table>            
        <div class="p-3" style="text-align: center;"><button value="Submit" name="login">Login</button></div>
    </form>
    <div id="result"></div>
</div>
{% endblock %}
    